<%= link_to "back to cocktails", cocktails_path %>

<h1><%= @cocktail.name %></h1>
<h4>Doses</h4>
<% @cocktail.doses.each do |dose| %>
  <p><%= "#{dose.description} #{dose.ingredient.name}" %>
    <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'} do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </p>
<% end %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: false, input_html: {placeholder: "Add a description here..."} %>
  <%= f.association :ingredient, collection: Ingredient.order('name'), include_blank: "Choose an ingredient...", include_hidden: false, label: false, as: :select, input_html: { class: 'select2' }  %>
  <%= f.submit %>
<% end %>

<br>

<h4>Reviews</h4>
<% @cocktail.reviews.each do |review| %>
  <p><%= "Rating: #{review.rating} | Content: #{review.content}" %></p>
<% end %>

<hr>
<%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :content, label: false, input_html: {placeholder: "Review this cocktail..."} %>
  <%= f.input :rating, collection: (0..5).to_a, include_blank: "Choose a rating...", include_hidden: false, label: false, as: :select, input_html: { class: 'select2' }  %>
  <%= f.submit "Review" %>
<% end %>
