<nav class="navbar navbar-expand-lg bg-dark navbar-lewagon fixed-top">

  <div class="nav-item">
    <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle dropright bg-dark", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu bg-dark dropdown-menu-left text-white" aria-labelledby="navbarDropdown">
      <%= link_to "Github", "https://github.com/edcolen", class: "nav-link" %>
      <%= link_to "Medium", "https://medium.com/@edcolen", class: "nav-link" %>
    </div>
    <span class="nav-item align-self-start">
      <%= link_to "Ed's Cocktails", root_path, class: "navbar-brand" %>
    </span>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-3 align-self-end">
        <%= link_to 'Originals', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item px-3 align-self-end">
        <%= link_to "Mix a new cocktail", new_cocktail_path, class: "nav-link"  %>
      </li>
      <li class="nav-item px-3 align-self-end">
        <%# link_to 'Mixed by users', user_cocktails_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown px-3 align-self-end">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Top 10
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <%# link_to 'Top 10 originals', top_cocktails_path, class: "nav-link" %>
          <%# link_to 'Top 10 mixed by users', top_user_cocktails_path, class: "nav-link" %>
        </div>
        <li class="nav-item px-3 align-self-end">
          <%= render 'form', cocktails: @cocktails %>
        </li>
      </ul>
    </div>
  </nav>
